[%- include('../partials/before') %]

<form action = '/events' method = "POST">
    <h2>Edit Event</h2>
    
    <div class="category">
        <label for="category">Category</label>
        <select name="category" id="category" required>
            <option value="" disabled selected>-- Select an option --</option>
            <option value="Recreational">Recreational</option>
            <option value="Educational">Educational</option>
            <option value="Undergraduate">Undergraduate</option>
            <option value="Graduate">Graduate</option>
            <option value="other">Other</option>
        </select>
    </div>
    <div class="title">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required />
    </div>
    <div class="host">
        <label for="host">Host</label>
        <input type="text" name="host" id="host" />
    </div>
    <div class="where">
        <label for="where">Where</label>
        <input type="text" name="where" id="where" required />
    </div>
    <div class="start">
        <label for="start">Start</label>
        <input type="datetime-local" name="start" id="start" required />
    </div>
    <div class="end">
        <label for="end">End</label>
        <input type="datetime-local" name="end" id="end" required />
    </div>
    <div class="details">
        <label for="details">Details</label>
        <textarea name="details" rows="3" id="details" required></textarea>
    </div>
    <div class="image">
        <label for="image">Image</label>
        <input type="file" name="image" id="image" required />
    </div>
    <div class="create">
        <input type="submit" value="Update Connection" />
    </div>
   
</form>

[%- include('../partials/after')%]