[%- include('../partials/before') %]
<div>
	[%
	for (category of categories) {
		let list = events.filter(event => event.category === category)
		if (list.length) {
	%]
		<h1>[%= category %]</h1>
		<ul>
		[%
		list.forEach( (event) => {
		%]
			<li>
				<a href="events/[%= event.id %]">[%= event.title%]</a>
			</li>
		[% }) %]
		</ul>
	[% }} %]
</div>
[%- include('../partials/after') %]
