[%- include('../partials/before') %]
<div>
	[%
	const categories = ['Educational', 'Recreational']
	for (category of categories) {
		let list = events.filter(event => event.category === category)
	%]
		<h1>[%= category %]</h1>
		<ul>
		[%
		for (event of list) {
		%]
			<li>
				<a href="events/[%= event.id %]">[%= event.title%]</a>
			</li>
		[% } %]
		</ul>
	[% } %]
</div>
[%- include('../partials/after') %]
