<div class="copyright">
	<p>&copy; Wanderers Club</p>
</div>
<div>
	<ul>
		<li><a href="">Contact</a></li>
		<li><a href="">About</a></li>
		<li>
			<a href=""><i class="fa-brands fa-facebook"></i></a>
		</li>
	</ul>
</div>
