<header id="header">
	<div id="logo-container">
		<a id="logo" href="/"
			><img src="/img/logoWC.jpg" alt="Wanderers Club Logo"
		/></a>
	</div>
	<div id="page-title">
		<h1>Wanderers Club</h1>
	</div>
	<div id="user-nav">
		<nav>
			<ul>
				<div>

					[% if (user) { %]

					<li>
						<a href="/events/new" class="[%= (title === 'new event') ? 'active' : '' %]">New Event</a>
					</li>
					<li>
							<a href="/users/profile" class="[%= (title === 'profile') ? 'active' : '' %]"> [%= name %]'s Profile</a>
					</li>
					<li><a href="/users/logout">Log Out</a></li>

					[% } else { %]

					<li>
						<a href="/users/login" class="[%= (title === 'login') ? 'active' : '' %]">Log In</a>
					</li>
					<li>
						<a href="/users/new" class="[%= (title === 'new user') ? 'active' : '' %]">Sign Up</a>
					</li>

					[% } %]
				</div>
			</ul>
		</nav>
	</div>
</header>

[%if(errorMessages.length > 0) { errorMessages.forEach(message=>{%]
<div class="error">[%=message%]</div>
[% }); }%] [%if(successMessages.length > 0) {
successMessages.forEach(message=>{%]
<div class="success">[%=message%]</div>
[% }); }%]
