<header id="header">
	<div id="logo-container">
		<a id="logo" href="/"
			><img src="/img/logoWC.jpg" alt="Wanderers Club Logo"
		/></a>
	</div>
	<div id="page-title">
		<h1>Wanderers Club</h1>
	</div>
	<div id="user-nav">
		<nav>
			<ul>
				<div>
					<li>
						[% if (title === 'new event') { %]
						<a href="/events/new" class="active"> New Event </a>
						[% } else { %]
						<a href="/events/new"> New Event </a>
						[% } %]
					</li>
					<li><a href="/user/login">Log in</a></li>
					<li><a href="/user/new">Sign Up</a></li>
				</div>
			</ul>
		</nav>
	</div>
</header>

[%if(errorMessages.length > 0) {
    errorMessages.forEach(message=>{%]
    <div class = 'error'> [%=message%] </div>
    [% });
}%]
    
[%if(successMessages.length > 0) {
    successMessages.forEach(message=>{%]
    <div class = 'success'> [%=message%] </div>
    [% });
}%]