<nav id="navigation">
<ul>
	<li>
		<a href="/" class="[%= (title === 'home') ? 'active' : '' %]"> Home </a>
	</li>
	<li>
		<a href="/events" class="[%= (title === 'events') ? 'active' : '' %]"> Events </a>
	</li>
</ul>
</nav>