[%- include('partials/before') %]

<div class="words">
	<div class="about">
		<h2>About</h2>
		<h3>Here's what you need to know about the Wanderers Club!</h3>
            <p>The Wanderers Club was founded by two UNCC students. </p>
        <h4>Jonathan Smith</h4>
            <p>Jonathan Smith is a seasoned event host with over a decade of experience captivating audiences at corporate conferences, charity galas, and entertainment events. Known for his quick wit and warm charisma, Jonathan keeps every event lively and engaging. His passion for bringing people together and ensuring seamless experiences has made him a sought-after host for top-tier events around the country.</p>
        <br>
        <h4>Vanessa Kelly</h4>
            <p>Vanessa Kelly is an energetic and dynamic event host, recognized for her sharp interviewing skills and ability to connect with diverse audiences. With a background in media and event production, Vanessa has hosted everything from large tech expos to intimate panel discussions. Her natural charm, combined with a deep understanding of event flow, guarantees a memorable experience for both organizers and attendees.</p>

[%- include('partials/after') %]