[%- include('partials/before') %]

<div class="words">
	<div class="welcome">
		<h2>Contact</h2>
		<h3>If you have any issues, please don't hesitate to contact:</h3>
        <h4>Jonathan Smith</h4>
            <p>Phone: (864) 555-1234</p>
        <h4>Vanessa Kelly</h4>
            <p>Phone: (864) 555-3456</p>

[%- include('partials/after') %]