<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lab 1</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/styles.css" />
  </head>
  <body>
    <header id="header">
      <div id="logo-container">
        <a id="logo" href="index.html"
          ><img src="../assets/img/logoWC.jpg" alt="Wanderers Club Logo"
        /></a>
      </div>
      <div id="page-title">
        <h1>Wanderers Club</h1>
      </div>
      <div id="user-nav">
        <nav>
          <ul>
            <li><a href="">Log in</a></li>
            <li><a href="">Sign Up</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <nav id="navigation">
      <ul>
        <li>
          <a href="index.html"> Home </a>
        </li>
        <li>
          <a href="events.html"> Events </a>
        </li>
        <li>
          <a href="newEvent.html"> New Event </a>
        </li>
      </ul>
    </nav>
    <main>
      <section class="content-wrapper">
        <div class="event">
          <div class="title">
            <h1>Local Brewery Crawl</h1>
            <div class="edit">
              <span>
                <a href=""
                  ><i
                    class="fa-regular fa-pen-to-square fa-border fa-lg green"
                  ></i
                ></a>
              </span>
              <span>
                <a href=""
                  ><i class="fa-solid fa-trash-alt fa-border fa-lg red"></i
                ></a>
              </span>
            </div>
          </div>

          <div class="image">
            <img src="../assets/img/brewery (new).jpg" alt="" srcset="" />
          </div>
          <div class="info">
            <!-- host name, start and end date/time, and location-->
            <div id="host">
              <p><b>Host: </b>Vanessa Kelly</p>
              <p><b>Date and Time: </b>Friday, Sep. 27 7:00PM - 11:00PM</p>
              <p>
                <b>Location: </b>1440 S Tryon St UNIT 110, Charlotte, NC 28203
              </p>
              <p>
                <b>Details: </b>We will meet at the Wooden Ropbot and continue
                to Sycamore Brewery and Monday Night Brewing from there. All
                brewery stops are within walking distance.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="copyright">
        <p>&copy; Wanderers Club</p>
      </div>
      <ul>
        <li><a href="">Contact</a></li>
        <li><a href="">About</a></li>
        <li>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
