<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Project 1</title>
		[%- include('partials/head') %]
	</head>
	<body>
		[%- include('partials/header') %]
		[%- include('partials/navigation') %]
		<main>
			<section class="content-wrapper">
				<div>
					<h2>Educational</h2>
					<ul>
						<li>
							<a href="/events/1"
								>LCES 2050 - Introduction to Linguistic Anthropology</a
							>
						</li>
						<li>
							<a href="/events/2"
								>ITIS 5166 - Network Based Application Development</a
							>
						</li>
						<li>
							<a href="/events/3">MBAD 6122 - Decison Modeling and Analysis</a>
						</li>
					</ul>
					<h2>Recreational</h2>
					<ul>
						<li><a href="/events/4">Fun at Carowinds</a></li>
						<li><a href="/events/5">Local Brewery Crawl</a></li>
						<li><a href="/events/6">Farmers Market Meet Up</a></li>
					</ul>
				</div>
			</section>
		</main>
		[%- include('partials/footer') %]
	</body>
</html>
