<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lab 1</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script src="../assets/js/structure.js"></script>
  </head>
  <body>
    <header id="header">
      <div id="logo-container">
        <a id="logo" href="index.html"></a>
      </div>
      <div id="page-title">
        <h1>Wanderers Club</h1>
      </div>
      <div id="user-nav">
        <nav>
          <ul>
            <li><a href="">Log in</a></li>
            <li><a href="">Sign Up</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <nav id="navigation"></nav>
    <main>
      <section class="content-wrapper">
        <div class="words">
          <div class="welcome">
            <h2>Welcome to UNCC's Wanderers Club</h1>
            <h3>The one-stop-shop for adventures for students</h2>
          </div>
          <div class="details">
            <p>
              Our aim is to enrich your student experience, no matter your
              origin or interests, by connecting you to unique student
              opportunities
              <p><b>
              Our events have something for everyone.
              </p></b>
              Let us connect you with the recreational, educational or travel
              experiences you are looking for
            </p>
          </div>
        </div>
        <div class="images">
          <div>
            <img
              src="../assets/img/student (new img).webp"
              alt="Students on an outing"
            />
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="copyright">
        <p>&copy; Wanderers Club</p>
      </div>
      <ul>
        <li><a href="">Contact</a></li>
        <li><a href="">About</a></li>
      </ul>
    </footer>
  </body>
</html>
