<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lab 1</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script src="../assets/js/structure.js"></script>
  </head>
  <body>
    <header id="header">
      <div id="logo-container">
        <a id="logo" href="index.html"></a>
      </div>
      <div id="page-title">
        <h1>Wanderers Club</h1>
      </div>
      <div id="user-nav">
        <nav>
          <ul>
            <li><a href="">Log in</a></li>
            <li><a href="">Sign Up</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <nav id="navigation"></nav>
    <main>
      <section class="content-wrapper">
        <form action="#" method="post">
          <h2>Create a New Event</h2>
          <div class="category">
            <label for="category">Category</label>
            <select name="category" id="category" required>
              <option value="" disabled selected>-- Select an option --</option>
              <option value="recreational">Recreational</option>
              <option value="educational">Educational</option>
              <option value="undergraduate">Undergraduate</option>
              <option value="graduate">Graduate</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="title">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required />
          </div>
          <div class="host">
            <label for="host">Host</label>
            <input type="text" name="host" id="host" />
          </div>
          <div class="where">
            <label for="where">Where</label>
            <input type="text" name="where" id="where" required />
          </div>
          <div class="start">
            <label for="start">Start</label>
            <input type="datetime-local" name="start" id="start" required />
          </div>
          <div class="end">
            <label for="end">End</label>
            <input type="datetime-local" name="end" id="end" required />
          </div>
          <div class="details">
            <label for="details">Details</label>
            <textarea name="details" rows="3" id="details" required></textarea>
          </div>
          <div class="image">
            <label for="image">Image</label>
            <input type="file" name="image" id="image" required />
          </div>
          <div class="create">
            <input type="submit" value="Create Connection" />
          </div>
        </form>
      </section>
    </main>
    <footer>
      <div class="copyright">
        <p>&copy; Wanderers Club</p>
      </div>
      <ul>
        <li><a href="">Contact</a></li>
        <li><a href="">About</a></li>
      </ul>
    </footer>
  </body>
</html>
