:root {
  --base: #d6f7ff;
  --active: #2aaabf;
  --primary: #0487a9;
  --secondary: #2aaabf;
  --tertiary: #abe0f6;
}

body {
  background-color: var(--base);
  font-family: Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-image: url("/img/dolphinheader.jpg");
  margin: 0;
  border-bottom: 5px solid var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  color: black;
  font-family: cursive;
  font-style: oblique;
  gap: 5px;
}

#page-title {
  font-size: 3.5vw;
}

#logo-container {
  display: flex;
  justify-content: center;
  height: 80px;
}

#logo img {
  mix-blend-mode: darken;
}

img {
  max-height: 100%;
  max-width: 100%;
}

#user-nav {
  height: 40%;
  font-family: "Helvetica", sans-serif;
  font-style: initial;
}

#user-nav li {
  border: 1px outset white;
}

#user-nav ul {
  display: flex;
}

#navigation {
  background-color: var(--primary);
  position: sticky;
  top: 0;
}

#navigation ul {
  display: flex;
}

caption {
  text-align: left;
  font-weight: bold;
  font-size: 120%;
}

table {
  background-color: var(--tertiary);
  border-collapse: collapse;
  border: 1px solid black;
  margin: 20px;
  box-shadow: 5px 5px 10px black;
}

th {
  padding: 0.2em 1em 0.2em 1em;
}

th,
td {
  border: 2px solid black;
  border-style: groove;
  text-align: center;
  vertical-align: middle;
}

td:first-child:hover {
  transform: scale(1.03, 1.1);
}

.actions {
  display: flex; /* Enable flexbox on the table cell */
  align-items: center; /* Vertically align items in the center */
  justify-content: space-between; /* Space forms evenly */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;
  border-right: 1px solid #bbb;
  background-color: var(--primary);
}

li a, td a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 13px;
  text-decoration: none;
}

li a:hover, td a:hover {
  background-color: var(--active);
  color: white;
}

main {
  flex-grow: 1;
  display: flex;
}

.active {
  background-color: var(--active);
  color: white;
}

.content-wrapper {
  width: 87%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.content-wrapper li {
  background-color: var(--tertiary);
}

.heading {
  flex-basis: 100%;
  margin: 0 auto;
}

.words {
  font-size: 80%;
}

footer {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

form {
  width: 100%;
}

form div {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}

label {
  width: 20%;
  float: left;
  font-weight: bold;
  font-style: oblique;
  font-size: larger;
}

input,
select,
textarea {
  width: 60%;
  border: 2px solid;
  padding: 5px 10px;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: large;
}

input:hover,
textarea:hover,
select:hover {
  transform: scale(1.05);
}

input[type="submit"]:hover {
  transform: scale(1.1);
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid var(--secondary);
}

.event {
  display: grid;
  gap: 3%;
  grid-template-areas: "title title" "image info";
  margin: 10px;
  text-align: left;
  width: 100%;
  grid-auto-columns: 1fr 1fr;
}

.event > .title {
  grid-area: title;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.modify {
  background-color: green;
}

.remove {
  background-color: red;
}

.modify, .remove, .rsvp-button {
  margin: 5px;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.modify:hover, .remove:hover, .rsvp-button:hover {
  transform: scale(.8, .8);
}

.rsvp-options {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
}

.rsvp-options .option-button {
  display: block;
  width: 100%;
  margin: 5px 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  text-align: center;
}

.rsvp-button {
  background-color: var(--primary);
  color: #fff;
}

.hidden {
  visibility: hidden;
}

.event h1 {
  max-width: fit-content;
}

.event > .image {
  grid-area: image;
}

.event > .info {
  grid-area: info;
}

button {
  background-color: inherit;
  border: none;
  height: 100%;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 4px 6px 10px black;
}

@media screen and (min-width: 750px) {
  body {
    font-size: default;
  }
  .images {
    max-width: 30%;
  }
  .image {
    max-width: 85%;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #page-title{
    font-size: inherit;
  }
} 

.fa-border {
  border: none;
}

.fa-border:hover {
  cursor: pointer;
}