[%- include('../partials/before.ejs')%]
<form action="/users/new" method="POST">
	<div class="firstName">
		<label for="firstName">First Name</label>
		<input type="text" id="firstName" name="firstName" required />
	</div>

	<div class="lastName">
		<label for="lastName">Last Name</label>
		<input type="text" id="lastName" name="lastName" required />
	</div>

	<div class="email">
		<label for="email">Email</label>
		<input type="email" id="email" name="email" required />
	</div>

	<div class="password">
		<label for="password">Password</label>
		<input type="password" id="password" name="password" required />
	</div>

	<input type="submit" value="Sign Up" />
</form>
[%- include('../partials/after') %]
