[%- include('../partials/before.ejs')%]
<h2>Welcome, [%= user.firstName + " " + user.lastName%]</h2><br>
[%if(events.length) {%]
    <p>You have created the following events:</p>
    [%events.forEach(event => {%]
        <a href = '/events/[%event.id%]'><p>[%=event.title%]</p></a>
    [%});
} else {%]
    <p>You have not created any events</p>
[%}%]
</div>
[%- include('../partials/after') %]