@media screen and (min-width: 800px) {
  .images {
    width: 30%;
  }
  .image {
    width: 85%;
  }
}

:root {
  --base: #d6f7ff;
  --active: #2aaabf;
  --primary: #0487a9;
  --secondary: #2aaabf;
  --tertiary: #abe0f6;
}

body {
  background-color: var(--base);
  font-family: Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-image: url("../img/dolphinheader.jpg");
  margin: 0;
  border-bottom: 5px solid var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  color: black;
  font-family: cursive;
  font-style: oblique;
}

#logo-container {
  height: 80px;
}

#logo img {
  mix-blend-mode: darken;
}

img {
  max-height: 100%;
  max-width: 100%;
}

#user-nav {
  height: 40%;
  font-family: "Helvetica", sans-serif;
  font-style: initial;
}

#user-nav li {
  border-right: none;
}

#navigation {
  background-color: var(--primary);
  position: sticky;
  top: 0;
}

#navigation ul {
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;
  border-right: 1px solid #bbb;
  background-color: var(--primary);
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--active);
  color: white;
}

main {
  flex-grow: 1;
  display: flex;
}

.active {
  background-color: var(--active);
  color: white;
}

.content-wrapper {
  width: 87%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.content-wrapper li {
  background-color: var(--tertiary);
}

.words {
  font-size: 80%;
}

footer {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

form {
  width: 100%;
}

form div {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}

label {
  width: 20%;
  float: left;
  font-weight: bold;
  font-style: oblique;
  font-size: larger;
}

input,
select,
textarea {
  width: 60%;
  border: 2px solid;
  padding: 5px 10px;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: large;
}

input:hover,
textarea:hover,
select:hover {
  transform: scale(1.05);
}

input[type="submit"]:hover {
  transform: scale(1.1);
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid var(--secondary);
}

.event {
  display: grid;
  gap: 5%;
  grid-template-areas: "title title" "image info";
  margin: 20px;
  text-align: left;
}

.event > .title {
  grid-area: title;
}

.event > .image {
  grid-area: image;
}

.event > .info {
  grid-area: info;
}
